In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols
import plotly.express as px
import plotly.graph_objects as go

In [3]:
# Generate random product data
df = pd.DataFrame({
    'id': np.arange(1, 1001),
    'Price': np.random.uniform(50, 500, size=1000),
    'Quantity': np.random.uniform(1,100, size=1000)
})

In [4]:
df.shape

(1000, 3)

In [7]:
df.head(5)

   id       Price  Quantity
0   1   90.459953      98.0
1   2  276.857523      42.0
2   3  107.414384       5.0
3   4  455.750539      25.0
4   5  457.430118      87.0

In [6]:
df = df.round({'Quantity': 0})

In [8]:
model = ols("Quantity ~ Price", data=df).fit()

In [10]:
Price = list(range(200, 370, 10))
cost = 100
quantity = []
Revenue = []
for i in Price:

 demand = model.params[0] + (model.params[1] * i)

 quantity.append(demand)

 Revenue.append((i-cost) * demand)

In [13]:
profit = pd.DataFrame({"Price": Price, "Revenue": Revenue, "Quantity": quantity})
print(profit)

    Price       Revenue   Quantity
0     200   5079.791404  50.797914
1     210   5583.409668  50.758270
2     220   6086.235045  50.718625
3     230   6588.267535  50.678981
4     240   7089.507139  50.639337
5     250   7589.953856  50.599692
6     260   8089.607686  50.560048
7     270   8588.468630  50.520404
8     280   9086.536687  50.480759
9     290   9583.811857  50.441115
10    300  10080.294141  50.401471
11    310  10575.983538  50.361826
12    320  11070.880048  50.322182
13    330  11564.983671  50.282538
14    340  12058.294408  50.242893
15    350  12550.812258  50.203249
16    360  13042.537222  50.163605

In [14]:
max_val = profit.loc[(profit['Revenue'] == profit['Revenue'].max())]
print(max_val)

    Price       Revenue   Quantity
16    360  13042.537222  50.163605

In [ ]:


fig_PriceVsRevenue = go.Figure()

fig_PriceVsRevenue.add_trace(go.Scatter(

x=profit['Price'], y=profit['Revenue']))

fig_PriceVsRevenue.add_annotation(x=int(max_val['Price']), y=int(max_val['Revenue']),

 text="Maximum Revenue",

 showarrow=True,

 arrowhead=1)

fig_PriceVsRevenue.update_layout(

 showlegend=False,

 xaxis_title="Price",

 yaxis_title="Revenue")

fig_PriceVsRevenue.add_vline(x=int(max_val['Price']), line_width=2, line_dash="dash", line_color="red", opacity=0.25)