In [1]:
import lightgbm as lgb
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from pandas import DataFrame
import matplotlib.pyplot as plt

In [2]:
mercado_df = pd.read_csv("C://Flavio/Projeto Otimizacao/Modelo Mercado/data_consolidado_final_jun24.csv",
                     encoding='latin-1',
                     delimiter=';')

In [3]:
mercado_df.head(3)

,ano_mod_conv,classe_bonus,fabrica,Grupo_veiculo_new,i_0km,idade,idade_ult_RNS,md_categoria,MD_comb,md_config,...,LIBERTY,PORTO,TOKIO,ZURICH,premio_total_liq_cap,is_casco,is_rcdm,is_rcdc,is_dmoral,qtd
0,2013,10,FIAT,Fiat Palio 1.4,N,71,Sem Sinistro,10 - Passeio Nacional,Flex,03 - Hatchback,...,1328.921587,NaN,NaN,1188.959303,1061.563373,34526.0,100000.0,100000.0,5000.0,24
1,2009,10,CHEVROLET,Chevrolet Corsa Sedan 1.0,N,48,Sem Sinistro,10 - Passeio Nacional,Gasolina,10 - Sedan,...,1163.202645,NaN,NaN,944.471969,959.694356,18970.0,50000.0,50000.0,NaN,9
2,2014,10,HYUNDAI,Hyundai HB20 1.0,N,42,Sem Sinistro,10 - Passeio Nacional,Flex,03 - Hatchback,...,1114.229838,919.26057,NaN,1116.635314,993.330928,40420.0,100000.0,100000.0,NaN,26

In [91]:
df_mod=mercado_df[["premio_total_liq_cap","ano_mod_conv","classe_bonus",
                   "idade","is_casco","is_dmoral","is_rcdc","is_rcdm",
                   "RNS_Casco_calc",
                   "Grupo_veiculo_new", "fabrica","idade_ult_RNS","md_categoria",
                   "MD_comb","md_config","MD_franquia","md_menor26","md_sexo",
                   "MD_Subzona","md_tipo_renov","MD_uso_veic","uf"]]

In [95]:
display(df_mod.describe().T)
display(df_mod.describe(include=['O']).T)

,count,mean,std,min,25%,50%,75%,max
premio_total_liq_cap,96586.0,2642.426137,1472.963374,845.956416,1697.074409,2236.016414,3088.75433,18183.331471
ano_mod_conv,96586.0,2017.935953,3.960001,2004.000000,2015.000000,2018.000000,2021.00000,2025.000000
classe_bonus,96586.0,6.545949,3.406705,0.000000,3.000000,7.000000,10.00000,10.000000
idade,96586.0,48.775847,13.895189,18.000000,38.000000,47.000000,59.00000,97.000000
is_casco,96495.0,80977.882195,48882.449279,13887.000000,46565.000000,69679.000000,101995.00000,620800.000000
is_dmoral,70718.0,20826.817684,21017.365103,5000.000000,10000.000000,10000.000000,30000.00000,130000.000000
is_rcdc,96581.0,166578.847831,109039.010834,40000.000000,100000.000000,150000.000000,200000.00000,1000000.000000
is_rcdm,96582.0,155868.734581,85671.592733,30000.000000,100000.000000,150000.000000,200000.00000,1000000.000000
RNS_Casco_calc,96586.0,0.089371,0.317307,0.000000,0.000000,0.000000,0.00000,3.000000

                   count unique                             top   freq
Grupo_veiculo_new  96586    197                  Toyota Corolla   4630
fabrica            96586     28                       CHEVROLET  16677
idade_ult_RNS      96586      4                    Sem Sinistro  70681
md_categoria       96586      9           10 - Passeio Nacional  59013
MD_comb            96586      6                            Flex  84440
md_config          96586     15                  03 - Hatchback  30882
MD_franquia        96586      3                   12 - Reduzida  91877
md_menor26         96586      2                             NAO  88753
md_sexo            96586      2                       Masculino  50100
MD_Subzona         96586    228  82100-METROPOLITANA DE GOIANIA   2657
md_tipo_renov      96586      2   2 - Renov MAPFRE sem sinistro  92011
MD_uso_veic        96586      4                      Particular  94046
uf                 96586     27                              SP  35630

In [37]:
print(df_mod['MD_uso_veic'].value_counts(ascending=False))

Particular                       94046
Visitar Clientes/Fornecedores     2504
Traslado Remunerado                 23
Entrega de Mercadoria               13
Name: MD_uso_veic, dtype: int64

In [5]:
df_mod.head(3)

,premio_total_liq_cap,ano_mod_conv,classe_bonus,idade,is_casco,is_dmoral,is_rcdc,is_rcdm,RNS_Casco_calc,Grupo_veiculo_new,...,md_categoria,MD_comb,md_config,MD_franquia,md_menor26,md_sexo,MD_Subzona,md_tipo_renov,MD_uso_veic,uf
0,1061.563373,2013,10,71,34526.0,5000.0,100000.0,100000.0,0,Fiat Palio 1.4,...,10 - Passeio Nacional,Flex,03 - Hatchback,12 - Reduzida,NAO,Masculino,88203-METROPOLITANA DE RECIFE - BOA VIAGEM,2 - Renov MAPFRE sem sinistro,Particular,CE
1,959.694356,2009,10,48,18970.0,NaN,50000.0,50000.0,0,Chevrolet Corsa Sedan 1.0,...,10 - Passeio Nacional,Gasolina,10 - Sedan,12 - Reduzida,NAO,Masculino,82100-METROPOLITANA DE GOIANIA,2 - Renov MAPFRE sem sinistro,Particular,GO
2,993.330928,2014,10,42,40420.0,NaN,100000.0,100000.0,0,Hyundai HB20 1.0,...,10 - Passeio Nacional,Flex,03 - Hatchback,12 - Reduzida,NAO,Feminino,42602-SOROCABA-LESTE,2 - Renov MAPFRE sem sinistro,Particular,SP

In [97]:
df_mod.rename(columns={'premio_total_liq_cap':'premio_ofertado', 'ano_mod_conv': 'ano_mod'},inplace=True)

C:\Users\flcoelho\AppData\Local\Temp\ipykernel_51124\2314202701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mod.rename(columns={'premio_total_liq_cap':'premio_ofertado', 'ano_mod_conv': 'ano_mod'},inplace=True)

In [98]:
df_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96586 entries, 0 to 96585
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   premio_ofertado    96586 non-null  float64
 1   ano_mod            96586 non-null  int64
 2   classe_bonus       96586 non-null  int64
 3   idade              96586 non-null  int64
 4   is_casco           96495 non-null  float64
 5   is_dmoral          70718 non-null  float64
 6   is_rcdc            96581 non-null  float64
 7   is_rcdm            96582 non-null  float64
 8   RNS_Casco_calc     96586 non-null  int64
 9   Grupo_veiculo_new  96586 non-null  object
 10  fabrica            96586 non-null  object
 11  idade_ult_RNS      96586 non-null  object
 12  md_categoria       96586 non-null  object
 13  MD_comb            96586 non-null  object
 14  md_config          96586 non-null  object
 15  MD_franquia        96586 non-null  object
 16  md_menor26         96586 non-null  object
 17  md_sexo            96586 non-null  object
 18  MD_Subzona         96586 non-null  object
 19  md_tipo_renov      96586 non-null  object
 20  MD_uso_veic        96586 non-null  object
 21  uf                 96586 non-null  object
dtypes: float64(5), int64(4), object(13)
memory usage: 16.2+ MB

In [99]:
display(df_mod.describe().T)
display(df_mod.describe(include=['O']).T)

,count,mean,std,min,25%,50%,75%,max
premio_ofertado,96586.0,2642.426137,1472.963374,845.956416,1697.074409,2236.016414,3088.75433,18183.331471
ano_mod,96586.0,2017.935953,3.960001,2004.000000,2015.000000,2018.000000,2021.00000,2025.000000
classe_bonus,96586.0,6.545949,3.406705,0.000000,3.000000,7.000000,10.00000,10.000000
idade,96586.0,48.775847,13.895189,18.000000,38.000000,47.000000,59.00000,97.000000
is_casco,96495.0,80977.882195,48882.449279,13887.000000,46565.000000,69679.000000,101995.00000,620800.000000
is_dmoral,70718.0,20826.817684,21017.365103,5000.000000,10000.000000,10000.000000,30000.00000,130000.000000
is_rcdc,96581.0,166578.847831,109039.010834,40000.000000,100000.000000,150000.000000,200000.00000,1000000.000000
is_rcdm,96582.0,155868.734581,85671.592733,30000.000000,100000.000000,150000.000000,200000.00000,1000000.000000
RNS_Casco_calc,96586.0,0.089371,0.317307,0.000000,0.000000,0.000000,0.00000,3.000000

                   count unique                             top   freq
Grupo_veiculo_new  96586    197                  Toyota Corolla   4630
fabrica            96586     28                       CHEVROLET  16677
idade_ult_RNS      96586      4                    Sem Sinistro  70681
md_categoria       96586      9           10 - Passeio Nacional  59013
MD_comb            96586      6                            Flex  84440
md_config          96586     15                  03 - Hatchback  30882
MD_franquia        96586      3                   12 - Reduzida  91877
md_menor26         96586      2                             NAO  88753
md_sexo            96586      2                       Masculino  50100
MD_Subzona         96586    228  82100-METROPOLITANA DE GOIANIA   2657
md_tipo_renov      96586      2   2 - Renov MAPFRE sem sinistro  92011
MD_uso_veic        96586      4                      Particular  94046
uf                 96586     27                              SP  35630

In [100]:
df_mod.columns.to_list()

['premio_ofertado',
 'ano_mod',
 'classe_bonus',
 'idade',
 'is_casco',
 'is_dmoral',
 'is_rcdc',
 'is_rcdm',
 'RNS_Casco_calc',
 'Grupo_veiculo_new',
 'fabrica',
 'idade_ult_RNS',
 'md_categoria',
 'MD_comb',
 'md_config',
 'MD_franquia',
 'md_menor26',
 'md_sexo',
 'MD_Subzona',
 'md_tipo_renov',
 'MD_uso_veic',
 'uf']

In [ ]:
#x_df, y = df_mod.iloc[:,1:],  df_mod.iloc[:,0]
#x_cat=pd.get_dummies(x_df.iloc[:,8:])
#x_df=pd.concat([x_df.iloc[:,0:7], x_cat],axis=1)
#x_train, x_test, y_train, y_test = train_test_split(x_df, y, test_size=0.15)

In [103]:
x_df_num = df_mod[['ano_mod', 'classe_bonus', 'idade', 'is_casco', 'is_dmoral', 'is_rcdc', 'is_rcdm', 'RNS_Casco_calc']]
x_df_cat = df_mod[['Grupo_veiculo_new', 'fabrica', 'idade_ult_RNS', 'md_categoria', 'MD_comb', 'md_config', 'MD_franquia', 'md_menor26', 'md_sexo', 'MD_Subzona','md_tipo_renov', 'MD_uso_veic','uf']]
y   = df_mod[['premio_ofertado']]
x_df_dummy=pd.get_dummies(x_df_cat)
x_df=pd.concat([x_df_num, x_df_dummy],axis=1)
x_train, x_test, y_train, y_test = train_test_split(x_df, y, test_size=0.15)

['ano_mod',
 'classe_bonus',
 'idade',
 'is_casco',
 'is_dmoral',
 'is_rcdc',
 'is_rcdm',
 'RNS_Casco_calc',
 'Grupo_veiculo_new_ARRIZO',
 'Grupo_veiculo_new_Audi',
 'Grupo_veiculo_new_BMW SÃ©ries',
 'Grupo_veiculo_new_BMW X',
 'Grupo_veiculo_new_Chery Passeio',
 'Grupo_veiculo_new_Chery Tiggo',
 'Grupo_veiculo_new_Chevrolet Agile',
 'Grupo_veiculo_new_Chevrolet Astra Hatch',
 'Grupo_veiculo_new_Chevrolet Captiva',
 'Grupo_veiculo_new_Chevrolet Celta 1.0',
 'Grupo_veiculo_new_Chevrolet Celta 1.4',
 'Grupo_veiculo_new_Chevrolet Cobalt 1.4',
 'Grupo_veiculo_new_Chevrolet Cobalt 1.8',
 'Grupo_veiculo_new_Chevrolet Corsa Hatch 1.0',
 'Grupo_veiculo_new_Chevrolet Corsa Hatch 1.4+',
 'Grupo_veiculo_new_Chevrolet Corsa Sedan 1.0',
 'Grupo_veiculo_new_Chevrolet Corsa Sedan 1.4+',
 'Grupo_veiculo_new_Chevrolet Cruze Hatch',
 'Grupo_veiculo_new_Chevrolet Cruze Sedan',
 'Grupo_veiculo_new_Chevrolet Meriva',
 'Grupo_veiculo_new_Chevrolet Montana',
 'Grupo_veiculo_new_Chevrolet Onix 1.0',
 'Grupo_veiculo_new_Chevrolet Onix 1.4',
 'Grupo_veiculo_new_Chevrolet Pickups',
 'Grupo_veiculo_new_Chevrolet Pickups Carga',
 'Grupo_veiculo_new_Chevrolet Prisma 1.0',
 'Grupo_veiculo_new_Chevrolet Prisma 1.4',
 'Grupo_veiculo_new_Chevrolet Sonic Hatch',
 'Grupo_veiculo_new_Chevrolet Sonic Sedan',
 'Grupo_veiculo_new_Chevrolet Spin',
 'Grupo_veiculo_new_Chevrolet Tracker',
 'Grupo_veiculo_new_Chevrolet Vectra Hatch',
 'Grupo_veiculo_new_Chevrolet Vectra Sedan',
 'Grupo_veiculo_new_Chevrolet Zafira',
 'Grupo_veiculo_new_Citroen Aircross',
 'Grupo_veiculo_new_Citroen C3',
 'Grupo_veiculo_new_Citroen C3 Antigo',
 'Grupo_veiculo_new_Citroen C3 Picasso',
 'Grupo_veiculo_new_Citroen C4 Hatch',
 'Grupo_veiculo_new_Citroen C4 Lounge',
 'Grupo_veiculo_new_Citroen C4 Pallas',
 'Grupo_veiculo_new_Citroen C4 Picasso',
 'Grupo_veiculo_new_Civic Antigo',
 'Grupo_veiculo_new_Erro',
 'Grupo_veiculo_new_Esportivo',
 'Grupo_veiculo_new_Fiat 500',
 'Grupo_veiculo_new_Fiat Argo/Cronos',
 'Grupo_veiculo_new_Fiat Bravo',
 'Grupo_veiculo_new_Fiat Doblo 1.4',
 'Grupo_veiculo_new_Fiat Doblo 1.8',
 'Grupo_veiculo_new_Fiat Fiorino',
 'Grupo_veiculo_new_Fiat Freemont',
 'Grupo_veiculo_new_Fiat Idea',
 'Grupo_veiculo_new_Fiat Linea',
 'Grupo_veiculo_new_Fiat Palio 1.0',
 'Grupo_veiculo_new_Fiat Palio 1.3',
 'Grupo_veiculo_new_Fiat Palio 1.4',
 'Grupo_veiculo_new_Fiat Palio 1.8',
 'Grupo_veiculo_new_Fiat Palio Weekend 1.0/1.3/1.5',
 'Grupo_veiculo_new_Fiat Palio Weekend 1.4',
 'Grupo_veiculo_new_Fiat Palio Weekend 1.6+',
 'Grupo_veiculo_new_Fiat Pulse',
 'Grupo_veiculo_new_Fiat Punto 1.4',
 'Grupo_veiculo_new_Fiat Punto 1.8',
 'Grupo_veiculo_new_Fiat Siena 1.0',
 'Grupo_veiculo_new_Fiat Siena Demais',
 'Grupo_veiculo_new_Fiat Strada',
 'Grupo_veiculo_new_Fiat Strada Adventure',
 'Grupo_veiculo_new_Fiat Strada Adventure CD',
 'Grupo_veiculo_new_Fiat Toro',
 'Grupo_veiculo_new_Fiat Uno',
 'Grupo_veiculo_new_Fiat Uno Evo 1.0',
 'Grupo_veiculo_new_Fiat Uno Evo 1.4',
 'Grupo_veiculo_new_Ford Courier',
 'Grupo_veiculo_new_Ford Ecosport',
 'Grupo_veiculo_new_Ford Ecosport Antigo',
 'Grupo_veiculo_new_Ford Edge',
 'Grupo_veiculo_new_Ford F-250',
 'Grupo_veiculo_new_Ford Fiesta Hatch',
 'Grupo_veiculo_new_Ford Fiesta Hatch 1.0',
 'Grupo_veiculo_new_Ford Fiesta Sedan',
 'Grupo_veiculo_new_Ford Fiesta Sedan 1.0',
 'Grupo_veiculo_new_Ford Focus Hatch',
 'Grupo_veiculo_new_Ford Focus Sedan',
 'Grupo_veiculo_new_Ford Fusion',
 'Grupo_veiculo_new_Ford Ka Hatch',
 'Grupo_veiculo_new_Ford Ka Hatch 1.0',
 'Grupo_veiculo_new_Ford Ka Sedan',
 'Grupo_veiculo_new_Ford New Fiesta Hatch',
 'Grupo_veiculo_new_Ford New Fiesta Sedan',
 'Grupo_veiculo_new_Ford Ranger CD',
 'Grupo_veiculo_new_Ford Ranger CS',
 'Grupo_veiculo_new_Honda Accord',
 'Grupo_veiculo_new_Honda CR-V',
 'Grupo_veiculo_new_Honda City',
 'Grupo_veiculo_new_Honda Civic',
 'Grupo_veiculo_new_Honda Fit',
 'Grupo_veiculo_new_Honda HR-V',
 'Grupo_veiculo_new_Honda New Fit',
 'Grupo_veiculo_new_Hyundai Azera',
 'Grupo_veiculo_new_Hyundai Creta',
 'Grupo_veiculo_new_Hyundai Elantra',
 'Grupo_veiculo_new_Hyundai HB20 1.0',
 'Grupo_veiculo_new_Hyundai HB20 1.6',
 'Grupo_veiculo_new_Hyundai HB20S 1.0',
 'Grupo_veiculo_new_Hyundai HB20S 1.6',
 'Grupo_veiculo_new_Hyundai I30',
 'Grupo_veiculo_new_Hyundai IX35',
 'Grupo_veiculo_new_Hyundai Santa Fe',
 'Grupo_veiculo_new_Hyundai Tucson',
 'Grupo_veiculo_new_Importado NÃ£o-Esportivo',
 'Grupo_veiculo_new_Jeep Compass',
 'Grupo_veiculo_new_Jeep Renegade',
 'Grupo_veiculo_new_Kia Cerato',
 'Grupo_veiculo_new_Kia Picanto',
 'Grupo_veiculo_new_Kia Sorento',
 'Grupo_veiculo_new_Kia Soul',
 'Grupo_veiculo_new_Kia Sportage',
 'Grupo_veiculo_new_Land Rover',
 'Grupo_veiculo_new_Land Rover Antiga',
 'Grupo_veiculo_new_MB Classe A',
 'Grupo_veiculo_new_MB Linha C',
 'Grupo_veiculo_new_MB Pickup',
 'Grupo_veiculo_new_Mini',
 'Grupo_veiculo_new_Mitsubishi ASX',
 'Grupo_veiculo_new_Mitsubishi L200',
 'Grupo_veiculo_new_Mitsubishi Lancer',
 'Grupo_veiculo_new_Mitsubishi Outlander',
 'Grupo_veiculo_new_Mitsubishi Pajero',
 'Grupo_veiculo_new_Nissan Frontier',
 'Grupo_veiculo_new_Nissan Frontier Antigo',
 'Grupo_veiculo_new_Nissan Grand Livina',
 'Grupo_veiculo_new_Nissan Kicks',
 'Grupo_veiculo_new_Nissan Livina',
 'Grupo_veiculo_new_Nissan March 1.0',
 'Grupo_veiculo_new_Nissan March 1.6',
 'Grupo_veiculo_new_Nissan Sentra',
 'Grupo_veiculo_new_Nissan Versa',
 'Grupo_veiculo_new_Nivus',
 'Grupo_veiculo_new_ONIX SEDAN',
 'Grupo_veiculo_new_Peugeot 2008/3008/5008',
 'Grupo_veiculo_new_Peugeot 207 Hatch',
 'Grupo_veiculo_new_Peugeot 207 SW',
 'Grupo_veiculo_new_Peugeot 207 Sedan',
 'Grupo_veiculo_new_Peugeot 208',
 'Grupo_veiculo_new_Peugeot 306/307/308 Hatch',
 'Grupo_veiculo_new_Peugeot 306/307/308 Sedan',
 'Grupo_veiculo_new_Peugeot 400/500/600/800',
 'Grupo_veiculo_new_Pickup Dodge',
 'Grupo_veiculo_new_Pickup Importada',
 'Grupo_veiculo_new_Renault Clio Hatch',
 'Grupo_veiculo_new_Renault Clio Sedan',
 'Grupo_veiculo_new_Renault Duster',
 'Grupo_veiculo_new_Renault Fluence',
 'Grupo_veiculo_new_Renault Kangoo',
 'Grupo_veiculo_new_Renault Kwid',
 'Grupo_veiculo_new_Renault Logan',
 'Grupo_veiculo_new_Renault Logan 1.0',
 'Grupo_veiculo_new_Renault Master',
 'Grupo_veiculo_new_Renault Megane',
 'Grupo_veiculo_new_Renault Sandero',
 'Grupo_veiculo_new_Renault Symbol',
 'Grupo_veiculo_new_Rio',
 'Grupo_veiculo_new_Suzuki Jimny',
 'Grupo_veiculo_new_Suzuki Novo',
 'Grupo_veiculo_new_Suzuki Vitara',
 'Grupo_veiculo_new_T-CROSS',
 'Grupo_veiculo_new_Toyota Corolla',
 'Grupo_veiculo_new_Toyota Corolla Antigo',
 'Grupo_veiculo_new_Toyota Corolla Fielder',
 'Grupo_veiculo_new_Toyota Etios Hatch',
 'Grupo_veiculo_new_Toyota Etios Sedan',
 'Grupo_veiculo_new_Toyota Hilux CD',
 'Grupo_veiculo_new_Toyota Hilux CS',
 'Grupo_veiculo_new_Toyota Hilux SW4',
 'Grupo_veiculo_new_Toyota RAV4',
 'Grupo_veiculo_new_VW Amarok',
 'Grupo_veiculo_new_VW Crossfox',
 'Grupo_veiculo_new_VW Fox',
 'Grupo_veiculo_new_VW Fox 1.0',
 'Grupo_veiculo_new_VW Gol 1.0',
 'Grupo_veiculo_new_VW Gol 1.0 Novo',
 'Grupo_veiculo_new_VW Gol 1.6',
 'Grupo_veiculo_new_VW Gol City 1.0',
 'Grupo_veiculo_new_VW Golf',
 'Grupo_veiculo_new_VW Golf Antigo',
 'Grupo_veiculo_new_VW Jetta',
 'Grupo_veiculo_new_VW Polo Hatch',
 'Grupo_veiculo_new_VW Polo Sedan',
 'Grupo_veiculo_new_VW Saveiro',
 'Grupo_veiculo_new_VW Spacefox',
 'Grupo_veiculo_new_VW Tiguan',
 'Grupo_veiculo_new_VW UP',
 'Grupo_veiculo_new_VW Voyage',
 'Grupo_veiculo_new_VW Voyage 1.0',
 'Grupo_veiculo_new_Van Nacional',
 'Grupo_veiculo_new_Volvo',
 'fabrica_AUDI',
 'fabrica_BMW',
 'fabrica_BYD',
 'fabrica_CAOA CHERY',
 'fabrica_CHEVROLET',
 'fabrica_CITROEN',
 'fabrica_FIAT',
 'fabrica_FORD',
 'fabrica_GWM',
 'fabrica_HONDA',
 'fabrica_HYUNDAI',
 'fabrica_JAGUAR',
 'fabrica_JEEP',
 'fabrica_KIA MOTORS',
 'fabrica_LAND ROVER',
 'fabrica_LEXUS',
 'fabrica_MERCEDES-BENZ',
 'fabrica_MINI',
 'fabrica_MITSUBISHI',
 'fabrica_NISSAN',
 'fabrica_PEUGEOT',
 'fabrica_RAM',
 'fabrica_RENAULT',
 'fabrica_SUBARU',
 'fabrica_SUZUKI',
 'fabrica_TOYOTA',
 'fabrica_VOLKSWAGEN',
 'fabrica_VOLVO',
 'idade_ult_RNS_01 ano',
 'idade_ult_RNS_02 anos',
 'idade_ult_RNS_03 ou+ anos',
 'idade_ult_RNS_Sem Sinistro',
 'md_categoria_10 - Passeio Nacional',
 'md_categoria_11 - Passeio Importado',
 'md_categoria_14 - Pickup Leve Nacional',
 'md_categoria_16 - Esportivo Nacional',
 'md_categoria_17 - Esportivo Importado',
 'md_categoria_20 - Pickup Pesada Carga Nacional',
 'md_categoria_21 - Pickup Pesada Carga Importado',
 'md_categoria_22 - Pickup Pesada Pessoa Nacional',
 'md_categoria_23 - Pickup Pesada Pessoa Importado',
 'MD_comb_Alcool',
 'MD_comb_Diesel',
 'MD_comb_ElÃ©trico',
 'MD_comb_Flex',
 'MD_comb_Gasolina',
 'MD_comb_Triflex',
 'md_config_03 - Hatchback',
 'md_config_04 - Hatchback Esportivo',
 'md_config_05 - Hatchback MÃ©dio',
 'md_config_06 - Monovolume',
 'md_config_07 - Pick-Up Cab.Dupla',
 'md_config_08 - Pick-Up Cab.Simples',
 'md_config_10 - Sedan',
 'md_config_11 - Sedan Esportivo',
 'md_config_12 - Sedan Luxo',
 'md_config_13 - Sedan MÃ©dio',
 'md_config_14 - Station-Wagon',
 'md_config_15 - Station-Wagon Esportivo',
 'md_config_16 - Van',
 'md_config_28 - Off Road',
 'md_config_29 - SUV',
 'MD_franquia_11 - Normal',
 'MD_franquia_12 - Reduzida',
 'MD_franquia_14 - Com Desconto 50',
 'md_menor26_NAO',
 'md_menor26_SIM',
 'md_sexo_Feminino',
 'md_sexo_Masculino',
 'MD_Subzona_10200-CENTRO OCIDENTAL RIO-GRANDENSE-SANTIAGO',
 'MD_Subzona_10300-CENTRO ORIENTAL RIO-GRANDENSE-CACHOEIRA DO SUL',
 'MD_Subzona_10400-CENTRO ORIENTAL RIO-GRANDENSE-LAJEADO-ESTRELA',
 'MD_Subzona_10500-CENTRO ORIENTAL RIO-GRANDENSE-SANTA CRUZ DO SUL',
 'MD_Subzona_10801-METROPOLITANA DE PORTO ALEGRE-PORTAO',
 'MD_Subzona_11300-NORDESTE RIO-GRANDENSE-GUAPORE',
 'MD_Subzona_11400-NORDESTE RIO-GRANDENSE-VACARIA',
 'MD_Subzona_12000-NOROESTE RIO-GRANDENSE-IJUI',
 'MD_Subzona_12400-NOROESTE RIO-GRANDENSE-SANTA ROSA',
 'MD_Subzona_12900-SUDESTE RIO-GRANDENSE-LITORAL LAGUNAR',
 'MD_Subzona_13600-NORDESTE RIO-GRANDENSE-BENTO GONÃ‡ALVES',
 'MD_Subzona_13701-PORTO ALEGRE - LESTE',
 'MD_Subzona_13702-PORTO ALEGRE - NORTE',
 'MD_Subzona_20000-GRANDE FLORIANOPOLIS-FLORIANOPOLIS',
 'MD_Subzona_20300-NORTE CATARINENSE-MAFRA',
 'MD_Subzona_21500-SUL CATARINENSE-TUBARAO',
 'MD_Subzona_21700-VALE DO ITAJAI-BALNEARIO CAMBORIU',
 'MD_Subzona_22100-BLUMENAU',
 'MD_Subzona_30000-CENTRO OCIDENTAL PARANAENSE-CAMPO MOURAO',
 'MD_Subzona_30100-CENTRO OCIDENTAL PARANAENSE-GOIOERE',
 'MD_Subzona_30900-METROPOLITANA DE CURITIBA-SAO JOSE DOS PINHAIS',
 'MD_Subzona_31100-METROPOLITANA DE CURITIBA-PARANAGUA',
 'MD_Subzona_31300-NOROESTE PARANAENSE-CIANORTE',
 'MD_Subzona_31400-NOROESTE PARANAENSE-PARANAVAI',
 'MD_Subzona_31500-NOROESTE PARANAENSE-UMUARAMA',
 'MD_Subzona_31700-NORTE CENTRAL PARANAENSE-NOVA ESPERANCA',
 'MD_Subzona_32200-NORTE CENTRAL PARANAENSE-MARINGA',
 'MD_Subzona_32400-NORTE PIONEIRO PARANAENSE-ASSAI',
 'MD_Subzona_33100-OESTE PARANAENSE-TOLEDO',
 'MD_Subzona_33900-CURITIBA-CENTRO',
 'MD_Subzona_33901-CURITIBA-PORTAO',
 'MD_Subzona_33902-CURITIBA-BOA VISTA',
 'MD_Subzona_33903-CURITIBA-SANTA FELICIDADE',
 'MD_Subzona_39400-CAMPINAS-VILA POMPEIA',
 'MD_Subzona_39600-CAMPINAS-CAMBUI',
 'MD_Subzona_39700-CAMPINAS-CHAPADAO',
 'MD_Subzona_39800-CAMPINAS-JARDIM NOVA EUROPA',
 'MD_Subzona_40100 - ARAÃ‡ATUBA',
 'MD_Subzona_40300-ARARAQUARA',
 'MD_Subzona_40400-SAO CARLOS',
 'MD_Subzona_40500-ASSIS',
 'MD_Subzona_40700-AVARE',
 'MD_Subzona_40800-BAURU',
 'MD_Subzona_40900-BOTUCATU',
 'MD_Subzona_41000-JAU',
 'MD_Subzona_41100-LINS',
 'MD_Subzona_41200-PAULINIA',
 'MD_Subzona_41300-CAMPINAS-PARQUE VIA NORTE',
 'MD_Subzona_41500-LEME',
 'MD_Subzona_41600-SAO JOAO DA BOA VISTA',
 'MD_Subzona_42000-TATUI',
 'MD_Subzona_42100-LITORAL SUL PAULISTA-PERUIBE',
 'MD_Subzona_42300-SUMARE',
 'MD_Subzona_42301-VALINHOS',
 'MD_Subzona_42400-JUNDIAI',
 'MD_Subzona_42500-IBIUNA',
 'MD_Subzona_42600-SOROCABA',
 'MD_Subzona_42601-SOROCABA-CENTRO',
 'MD_Subzona_42602-SOROCABA-LESTE',
 'MD_Subzona_42603-SOROCABA-OESTE',
 'MD_Subzona_42700-MARILIA',
 'MD_Subzona_42800-TUPA',
 'MD_Subzona_43000-GUARULHOS',
 'MD_Subzona_43001-GUARULHOS-GOPOUVA',
 'MD_Subzona_43004-ATIBAIA',
 'MD_Subzona_43100-TABOAO DA SERRA',
 'MD_Subzona_43200-MOGI DAS CRUZES',
 'MD_Subzona_43201-ITAQUAQUECETUBA',
 'MD_Subzona_43300-OSASCO',
 'MD_Subzona_43400-SANTOS',
 'MD_Subzona_43500-SP-AGUA RASA',
 'MD_Subzona_43800-SP-ARICANDUVA',
 'MD_Subzona_44900-SP-CAMPO BELO',
 'MD_Subzona_45000-SP-CAMPO GRANDE',
 'MD_Subzona_45100-SP-CAMPO LIMPO',
 'MD_Subzona_45300-SP-CAPAO REDONDO',
 'MD_Subzona_45600 - SP - CIDADE ADEMAR',
 'MD_Subzona_45700-SP-CIDADE DUTRA',
 'MD_Subzona_46300-SP-FREGUESIA DO O',
 'MD_Subzona_46800-SP-ITAIM BIBI',
 'MD_Subzona_47000-SP-ITAQUERA',
 'MD_Subzona_47100-SP-JABAQUARA',
 'MD_Subzona_47600-SP-JARDIM ANGELA',
 'MD_Subzona_47800-SP-JARDIM PAULISTA',
 'MD_Subzona_47900-SP-JARDIM SAO LUIS',
 'MD_Subzona_48200-SP-LAPA',
 'MD_Subzona_48800-SP-MOOCA',
 'MD_Subzona_49300-SP-PEDREIRA',
 'MD_Subzona_49500-SP-PERDIZES',
 'MD_Subzona_49800-SP-PIRITUBA',
 'MD_Subzona_50200-SP-RIO PEQUENO',
 'MD_Subzona_50300-SP-SACOMA',
 'MD_Subzona_50500-SP-SANTANA',
 'MD_Subzona_50600-SP-SANTO AMARO',
 'MD_Subzona_50800-SP-SAO LUCAS',
 'MD_Subzona_51300-SP-SAUDE',
 'MD_Subzona_51600 - SP - TATUAPÃ‰',
 'MD_Subzona_51700-SP-TREMEMBE',
 'MD_Subzona_51800-SP-TUCURUVI',
 'MD_Subzona_51900-SP-VILA ANDRADE',
 'MD_Subzona_52500-SP-VILA MARIA',
 'MD_Subzona_52600-SP-VILA MARIANA',
 'MD_Subzona_52900-SP-VILA PRUDENTE',
 'MD_Subzona_53100-LIMEIRA',
 'MD_Subzona_53200-PIRACICABA',
 'MD_Subzona_53300-RIO CLARO',
 'MD_Subzona_53600-PRESIDENTE PRUDENTE',
 'MD_Subzona_53700-BARRETOS',
 'MD_Subzona_53800-BATATAIS',
 'MD_Subzona_53900-FRANCA',
 'MD_Subzona_54000-ITUVERAVA',
 'MD_Subzona_54100-JABOTICABAL',
 'MD_Subzona_54300-SAO JOAQUIM DA BARRA-ORLANDIA',
 'MD_Subzona_54500-CATANDUVA',
 'MD_Subzona_54800-NHANDEARA',
 'MD_Subzona_54900 - NOVO HORIZONTE',
 'MD_Subzona_55000-SAO JOSE DO RIO PRETO',
 'MD_Subzona_55001-SAO JOSE DO RIO PRETO-LESTE',
 'MD_Subzona_55002-SAO JOSE DO RIO PRETO-SUL/RURAL',
 'MD_Subzona_55003-SAO JOSE DO RIO PRETO-CENTRO',
 'MD_Subzona_55004-SAO JOSE DO RIO PRETO-OESTE',
 'MD_Subzona_55005-SAO JOSE DO RIO PRETO-NORTE',
 'MD_Subzona_55100-VOTUPORANGA',
 'MD_Subzona_55400-VALE DO PARAIBA PAULISTA-CARAGUATATUBA',
 'MD_Subzona_55500-VALE DO PARAIBA PAULISTA-GUARATINGUETA',
 'MD_Subzona_55700-VALE DO PARAIBA PAULISTA-TAUBATE/JACAREI',
 'MD_Subzona_55701-VALE DO PARAIBA PAULISTA-JACAREI',
 'MD_Subzona_55800-SANTO ANDRE-CENTRO',
 'MD_Subzona_56500-AMERICANA',
 'MD_Subzona_56800-SANTO ANDRE-ORATORIO',
 'MD_Subzona_56900-SANTO ANDRE-VILA PIRES',
 'MD_Subzona_57600-SAO BERNARDO-FERRAZOPOLIS',
 'MD_Subzona_57800-SAO BERNARDO-CENTRO',
 'MD_Subzona_58100-SAO JOSE DOS CAMPOS-SAO DIMAS',
 'MD_Subzona_58300 - SÃƒO JOSÃ‰ DOS CAMPOS - VILA ADYANA',
 'MD_Subzona_58500-SERTAOZINHO',
 'MD_Subzona_58700-COTIA',
 'MD_Subzona_59100-ITU E REGIAO',
 'MD_Subzona_59300-PEDREIRA',
 'MD_Subzona_59400-RIBEIRAO PRETO',
 'MD_Subzona_59401-RIBEIRAO PRETO-LESTE',
 'MD_Subzona_59402-RIBEIRAO PRETO-OESTE',
 'MD_Subzona_59404-RIBEIRAO PRETO-NORTE',
 'MD_Subzona_59500-DIVISA AMERICANA-SANTA BARBARA',
 'MD_Subzona_60100-BAIXADAS- REGIAO DOS LAGOS',
 'MD_Subzona_60300-CENTRO FLUMINENSE-NOVA FRIBURGO',
 'MD_Subzona_61000-RJ-BARRA DA TIJUCA',
 'MD_Subzona_61100-RJ-BOTAFOGO',
 'MD_Subzona_61200-RJ-CAMPO GRANDE',
 'MD_Subzona_61900-RJ-IRAJA',
 'MD_Subzona_62300-RJ-MEIER',
 'MD_Subzona_63200-RJ-TIJUCA',
 'MD_Subzona_65400-NORTE FLUMINENSE-CAMPOS DOS GOYTACAZES',
 'MD_Subzona_65800-SUL FLUMINENSE-VALE DO PARAIBA FLUMINENSE',
 'MD_Subzona_65900-VITORIA',
 'MD_Subzona_66400-REGIAO DE VOLTA REDONDA',
 'MD_Subzona_66700-NITEROI',
 'MD_Subzona_66900-BAIXADA FLUMINENSE DUQUE DE CAXIAS',
 'MD_Subzona_67200-VILA VELHA',
 'MD_Subzona_67300-GRANDE VITORIA',
 'MD_Subzona_67400-REGIAO SERRANA NORTE-ES',
 'MD_Subzona_70000-CAMPO DAS VERTENTES-BARBACENA',
 'MD_Subzona_71100-METROPOLITANA DE BELO HORIZONTE-BELO HORIZONTE',
 'MD_Subzona_71103-BELO HORIZONTE - NOROESTE-PAMPULHA',
 'MD_Subzona_71104-BELO HORIZONTE - NORDESTE-NORTE',
 'MD_Subzona_71105-BELO HORIZONTE - CENTRO-LESTE',
 'MD_Subzona_71107-BELO HORIZONTE - VENDA NOVA',
 'MD_Subzona_71400-METROPOLITANA DE BELO HORIZONTE-ITABIRA',
 'MD_Subzona_71700-METROPOLITANA DE BELO HORIZONTE-PARA DE MINAS',
 'MD_Subzona_71800-METROPOLITANA DE BELO HORIZONTE-SETE LAGOAS',
 'MD_Subzona_72500-NORTE DE MINAS-MONTES CLAROS',
 'MD_Subzona_72900-OESTE DE MINAS-DIVINOPOLIS',
 'MD_Subzona_73800-SUL/SUDOESTE DE MINAS-POUSO ALEGRE',
 'MD_Subzona_74100-SUL/SUDOESTE DE MINAS-GUAXUPE',
 'MD_Subzona_74200-SUL/SUDOESTE DE MINAS-VARGINHA',
 'MD_Subzona_74300-TRIANGULO MINEIRO/ALTO PARANAIBA-ARAXA',
 'MD_Subzona_74800-TRIANGULO MINEIRO/ALTO PARANAIBA-UBERABA',
 'MD_Subzona_74900-TRIANGULO MINEIRO/ALTO PARANAIBA-UBERLANDIA',
 'MD_Subzona_75400-VALE DO RIO DOCE-GOVERNADOR VALADARES',
 'MD_Subzona_76000-ZONA DA MATA-JUIZ DE FORA',
 'MD_Subzona_80000-CENTRO NORTE DE MATO GROSSO DO SUL',
 'MD_Subzona_80100-LESTE DE MATO GROSSO DO SUL',
 'MD_Subzona_80300-SUDOESTE DE MATO GROSSO DO SUL',
 'MD_Subzona_81000-METROPOLITANA DE CUIABA',
 'MD_Subzona_81200-NORTE MATO-GROSSENSE',
 'MD_Subzona_81300-SUDESTE MATO-GROSSENSE',
 'MD_Subzona_81400-SUDOESTE MATO-GROSSENSE',
 'MD_Subzona_82000-BRASILIA',
 'MD_Subzona_82100-METROPOLITANA DE GOIANIA',
 'MD_Subzona_82300-SUL GOIANO',
 'MD_Subzona_82500-LAGO SUL',
 'MD_Subzona_82600-LAGO NORTE / CRUZEIRO',
 'MD_Subzona_82700-TAGUATINGA',
 'MD_Subzona_82800-REGIAO ENTORNO DF - MAIOR',
 'MD_Subzona_82900-REGIAO ENTORNO DF - MENOR',
 'MD_Subzona_83000-CENTRO GOIANO',
 'MD_Subzona_83100-SUDOESTE  GOIANO',
 'MD_Subzona_85000-CENTRO NORTE BAIANO',
 'MD_Subzona_85100-CENTRO SUL BAIANO',
 'MD_Subzona_85302-SALVADOR - IMBUI',
 'MD_Subzona_85303-SALVADOR - CABULA',
 'MD_Subzona_85400-NORDESTE BAIANO',
 'MD_Subzona_85500-SUL BAIANO',
 'MD_Subzona_86100-LESTE SERGIPANO',
 'MD_Subzona_87100-LESTE ALAGOANO',
 'MD_Subzona_88000-AGRESTE PERNAMBUCANO',
 'MD_Subzona_88200-METROPOLITANA DE RECIFE',
 'MD_Subzona_88201-METROPOLITANA DE RECIFE - GRAÃ‡AS',
 'MD_Subzona_88202-METROPOLITANA DE RECIFE - MADALENA',
 'MD_Subzona_88203-METROPOLITANA DE RECIFE - BOA VIAGEM',
 'MD_Subzona_88300-SAO FRANCISCO PERNAMBUCANO',
 'MD_Subzona_89000-AGRESTE PARAIBANO',
 'MD_Subzona_89200-LESTE PARAIBANO',
 'MD_Subzona_89300-SERTAO PARAIBANO',
 'MD_Subzona_90200-LESTE POTIGUAR',
 'MD_Subzona_91200-METROPOLITANA DE FORTALEZA - CAUCAIA',
 'MD_Subzona_91201-FORTALEZA - CENTRO',
 'MD_Subzona_91203-FORTALEZA - PARQUELANDIA',
 'MD_Subzona_91204-FORTALEZA - MEIRELLES',
 'MD_Subzona_91205-FORTALEZA - MONDUBIM',
 'MD_Subzona_93200-NORTE MARANHENSE',
 'MD_Subzona_93300-OESTE MARANHENSE',
 'MD_Subzona_94202-BELÃ‰M - MARCO',
 'MD_Subzona_94400-SUDESTE PARAENSE',
 'MD_Subzona_97000-CENTRO AMAZONENSE',
 'MD_Subzona_99000-CENTRO-NORTE PIAUIENSE',
 'MD_Subzona_99500-MADEIRA-GUAPORE',
 'MD_Subzona_99700-ORIENTAL DO TOCANTINS',
 'md_tipo_renov_2 - Renov MAPFRE sem sinistro',
 'md_tipo_renov_3 - Renov MAPFRE com sinistro',
 'MD_uso_veic_Entrega de Mercadoria',
 'MD_uso_veic_Particular',
 'MD_uso_veic_Traslado Remunerado',
 'MD_uso_veic_Visitar Clientes/Fornecedores',
 'uf_AC',
 'uf_AL',
 'uf_AM',
 'uf_AP',
 'uf_BA',
 'uf_CE',
 'uf_DF',
 'uf_ES',
 'uf_GO',
 'uf_MA',
 'uf_MG',
 'uf_MS',
 'uf_MT',
 'uf_PA',
 'uf_PB',
 'uf_PE',
 'uf_PI',
 'uf_PR',
 'uf_RJ',
 'uf_RN',
 'uf_RO',
 'uf_RR',
 'uf_RS',
 'uf_SC',
 'uf_SE',
 'uf_SP',
 'uf_TO']

In [104]:
x_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96586 entries, 0 to 96585
Columns: 535 entries, ano_mod to uf_TO
dtypes: float64(4), int64(4), uint8(527)
memory usage: 54.4 MB

In [105]:
x_df_cat.head(2)

,Grupo_veiculo_new,fabrica,idade_ult_RNS,md_categoria,MD_comb,md_config,MD_franquia,md_menor26,md_sexo,MD_Subzona,md_tipo_renov,MD_uso_veic,uf
0,Fiat Palio 1.4,FIAT,Sem Sinistro,10 - Passeio Nacional,Flex,03 - Hatchback,12 - Reduzida,NAO,Masculino,88203-METROPOLITANA DE RECIFE - BOA VIAGEM,2 - Renov MAPFRE sem sinistro,Particular,CE
1,Chevrolet Corsa Sedan 1.0,CHEVROLET,Sem Sinistro,10 - Passeio Nacional,Gasolina,10 - Sedan,12 - Reduzida,NAO,Masculino,82100-METROPOLITANA DE GOIANIA,2 - Renov MAPFRE sem sinistro,Particular,GO

In [106]:
x_df_cat.columns.to_list()

['Grupo_veiculo_new',
 'fabrica',
 'idade_ult_RNS',
 'md_categoria',
 'MD_comb',
 'md_config',
 'MD_franquia',
 'md_menor26',
 'md_sexo',
 'MD_Subzona',
 'md_tipo_renov',
 'MD_uso_veic',
 'uf']

In [107]:
x_df_num.columns.to_list()

['ano_mod',
 'classe_bonus',
 'idade',
 'is_casco',
 'is_dmoral',
 'is_rcdc',
 'is_rcdm',
 'RNS_Casco_calc']

In [108]:
params = {
    'task': 'train', 
    'boosting': 'gbdt',
    'objective': 'regression',
    'num_leaves': 10,
    'learnnig_rage': 0.05,
    'metric': {'l2','l1'},
    'verbose': -1
}

In [109]:
lgb_train = lgb.Dataset(x_train, y_train)
lgb_eval  = lgb.Dataset(x_test, y_test, reference=lgb_train)

In [110]:
model_gbm = lgb.train(params,
                 train_set=lgb_train,
                 valid_sets=lgb_eval)
y_pred = model_gbm.predict(x_test, predict_disable_shape_check=True)

In [150]:
y_pred = model_gbm.predict(x_test, predict_disable_shape_check=True)

# accuracy check
mse = mean_squared_error(y_test, y_pred)
rmse = mse**(0.5)
print("MSE: %.2f" % mse)
print("RMSE: %.2f" % rmse) 
 
MSE: 586716.47
RMSE: 765.97

MSE: 586716.47
RMSE: 765.97

In [160]:
df_describe = pd.DataFrame(y_pred)
df_describe.describe()

                  0
count  14488.000000
mean    2656.054059
std     1218.433051
min     1054.606949
25%     1852.431519
50%     2340.250137
75%     3032.356652
max    10727.535257

## Adicionar GBM na base de modelagem GLM

In [172]:
df_mod_mp_feb23may24_v3 = pd.read_csv("C://Flavio/Projeto Otimizacao/Modelo Renovacao/df_mod_mp_feb23may24_v3.csv",
                     encoding='latin-1',
                     delimiter='|')

In [180]:
#df_mod_mp_feb23may24_v3.columns.to_list()

In [182]:
df_mod_mp_feb23may24_v3 = df_mod_mp_feb23may24_v3[df_mod_mp_feb23may24_v3['per_com'].notna()]
df_mod_mp_feb23may24_v3 = df_mod_mp_feb23may24_v3[df_mod_mp_feb23may24_v3['Renovacao_ant'].notna()]
df_mod_mp_feb23may24_v3 = df_mod_mp_feb23may24_v3[df_mod_mp_feb23may24_v3['MD_est_civil'].notna()]
df_mod_mp_feb23may24_v3 = df_mod_mp_feb23may24_v3[df_mod_mp_feb23may24_v3['peso'].notna()]
df_mod_mp_feb23may24_v3 = df_mod_mp_feb23may24_v3[~df_mod_mp_feb23may24_v3['anomes_dt_ter'].isin([202310,202309,202308,202302,202402])]
df_mod_mp_feb23may24_v3 = df_mod_mp_feb23may24_v3.query('teste_validacao == "Trein"')
df_mod_mp_feb23may24_v3 = df_mod_mp_feb23may24_v3.query('vigencia == "Anual"')
df_mod_mp_feb23may24_v3 = df_mod_mp_feb23may24_v3[(df_mod_mp_feb23may24_v3['per_com']>0) & (df_mod_mp_feb23may24_v3['per_com']<50)]
df_mod_mp_feb23may24_v3 = df_mod_mp_feb23may24_v3.query('premio_total >100')
df_mod_mp_feb23may24_v3 = df_mod_mp_feb23may24_v3.query('premio_creserva >= 0')
df_mod_mp_feb23may24_v3 = df_mod_mp_feb23may24_v3.query('is_casco_ofer > 0')
df_mod_mp_feb23may24_v3.shape

(310913, 105)

In [47]:
print(df_mod_mp_feb23may24_v3['MD_idade'].value_counts(ascending=False))

041    18188
042    17899
040    17350
043    17288
044    16612
       ...
095       14
098        4
097        2
100        2
099        1
Name: MD_idade, Length: 83, dtype: int64

In [46]:
#df_mod_mp_feb23may24_v3.columns.to_list()

In [40]:
colunas=['premio_ofertado','ano_mod','classe_bonus','MD_idade','is_casco_ofer','is_dmoral','is_rcdc','is_rcdm','RNS_Casco_calc',
 'Grupo_veiculo_new','FABRICA','idade_ult_RNS', 'md_categoria','MD_comb','MD_config','MD_franquia','MD_menor26','MD_sexo','MD_Subzona',  
 'MD_tipo_renov','MD_uso_veic','UF']

In [183]:
df_mod_glm_mercado=df_mod_mp_feb23may24_v3[colunas]

In [184]:
df_mod_glm_mercado.rename(columns={'MD_idade':'idade', 
                                   'is_casco_ofer': 'is_casco',
                                   'FABRICA': 'fabrica',
                                   'MD_config':  'md_config',
                                   'MD_menor26': 'md_menor26',
                                   'MD_sexo': 'md_sexo',
                                   'UF': 'uf',
                                   'MD_tipo_renov':  'md_tipo_renov'},inplace=True)

In [185]:
df_mod_glm_mercado['idade'] = pd.to_numeric(df_mod_glm_mercado['idade'], errors='coerce')

In [186]:
df_mod_glm_mercado.columns.to_list()

['premio_ofertado',
 'ano_mod',
 'classe_bonus',
 'idade',
 'is_casco',
 'is_rcdm',
 'is_rcdc',
 'is_dmoral',
 'uf',
 'md_sexo',
 'RNS_Casco_calc',
 'Grupo_veiculo_new',
 'idade_ult_RNS',
 'fabrica',
 'md_categoria',
 'MD_comb',
 'md_config',
 'MD_Subzona',
 'md_tipo_renov',
 'MD_franquia',
 'md_menor26',
 'MD_uso_veic']

In [187]:
df_mod_glm_mercado.head(2)

,premio_ofertado,ano_mod,classe_bonus,idade,is_casco,is_rcdm,is_rcdc,is_dmoral,uf,md_sexo,...,idade_ult_RNS,fabrica,md_categoria,MD_comb,md_config,MD_Subzona,md_tipo_renov,MD_franquia,md_menor26,MD_uso_veic
355,1971.94,2005,10,70.0,24887.0,150000.0,400000.0,50000.0,PR,Masculino,...,01 ano,AUDI,10 - Passeio Nacional,Gasolina,05 - Hatchback MÃ©dio,32200-NORTE CENTRAL PARANAENSE-MARINGA,2 - Renov MAPFRE sem sinistro,12 - Reduzida,ERR,Particular
359,2283.56,2003,4,36.0,22863.0,100000.0,100000.0,20000.0,SP,Masculino,...,Sem Sinistro,AUDI,10 - Passeio Nacional,Gasolina,05 - Hatchback MÃ©dio,59404-RIBEIRAO PRETO-NORTE,2 - Renov MAPFRE sem sinistro,12 - Reduzida,NAO,Particular

In [188]:
df_mod_glm_mercado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310913 entries, 355 to 571593
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   premio_ofertado    310913 non-null  float64
 1   ano_mod            310913 non-null  int64
 2   classe_bonus       310913 non-null  int64
 3   idade              307270 non-null  float64
 4   is_casco           310913 non-null  float64
 5   is_rcdm            310913 non-null  float64
 6   is_rcdc            310913 non-null  float64
 7   is_dmoral          310913 non-null  float64
 8   uf                 310913 non-null  object
 9   md_sexo            310913 non-null  object
 10  RNS_Casco_calc     310913 non-null  int64
 11  Grupo_veiculo_new  309319 non-null  object
 12  idade_ult_RNS      310913 non-null  object
 13  fabrica            310913 non-null  object
 14  md_categoria       310913 non-null  object
 15  MD_comb            310913 non-null  object
 16  md_config          310913 non-null  object
 17  MD_Subzona         310913 non-null  object
 18  md_tipo_renov      310913 non-null  object
 19  MD_franquia        310913 non-null  object
 20  md_menor26         310913 non-null  object
 21  MD_uso_veic        310913 non-null  object
dtypes: float64(6), int64(3), object(13)
memory usage: 54.6+ MB

In [189]:
# 
integer_columns = df_mod_glm_mercado.select_dtypes(include=['int64']).columns 
float_columns = df_mod_glm_mercado.select_dtypes(include=['float64']).columns 
object_columns = df_mod_glm_mercado.select_dtypes(include=['object']).columns

In [190]:
float_columns=float_columns[1:]

In [191]:
print(integer_columns),print(float_columns),print(object_columns)

Index(['ano_mod', 'classe_bonus', 'RNS_Casco_calc'], dtype='object')
Index(['idade', 'is_casco', 'is_rcdm', 'is_rcdc', 'is_dmoral'], dtype='object')
Index(['uf', 'md_sexo', 'Grupo_veiculo_new', 'idade_ult_RNS', 'fabrica',
       'md_categoria', 'MD_comb', 'md_config', 'MD_Subzona', 'md_tipo_renov',
       'MD_franquia', 'md_menor26', 'MD_uso_veic'],
      dtype='object')

(None, None, None)

In [192]:
df_num = df_mod_glm_mercado[['ano_mod', 'classe_bonus', 'idade', 'is_casco', 'is_dmoral', 'is_rcdc', 'is_rcdm', 'RNS_Casco_calc']]
df_cat = df_mod_glm_mercado[['Grupo_veiculo_new', 'fabrica', 'idade_ult_RNS', 'md_categoria', 'MD_comb', 'md_config', 'MD_franquia', 'md_menor26', 'md_sexo', 'MD_Subzona','md_tipo_renov', 'MD_uso_veic','uf']]

In [193]:
#df_cat_glm=pd.get_dummies(df_mod_glm_mercado[object_columns])
df_cat_glm=pd.get_dummies(df_cat)
df_cat_glm=pd.concat([df_num, df_cat_glm],axis=1)

In [194]:
df_cat_glm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310913 entries, 355 to 571593
Columns: 607 entries, ano_mod to uf_TO
dtypes: float64(5), int64(3), uint8(599)
memory usage: 199.0 MB

In [88]:
#df_gbm_to_glm=pd.concat([df_mod_glm_mercado[integer_columns], df_mod_glm_mercado[float_columns],x_cat_glm],axis=1)

In [195]:
df_cat_glm.head(2)

,ano_mod,classe_bonus,idade,is_casco,is_dmoral,is_rcdc,is_rcdm,RNS_Casco_calc,Grupo_veiculo_new_ARRIZO,Grupo_veiculo_new_Audi,...,uf_PR,uf_RJ,uf_RN,uf_RO,uf_RR,uf_RS,uf_SC,uf_SE,uf_SP,uf_TO
355,2005,10,70.0,24887.0,50000.0,400000.0,150000.0,1,0,1,...,1,0,0,0,0,0,0,0,0,0
359,2003,4,36.0,22863.0,20000.0,100000.0,100000.0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [72]:
#x_cat_glm.columns.to_list() y_pred = model_gbm.predict(x_test, predict_disable_shape_check=True)

In [196]:
GBM_mercado = model_gbm.predict(df_cat_glm, predict_disable_shape_check=True)

In [204]:
import numpy as np
np.average(GBM_mercado)

4064.208631369447

In [197]:
df_cat_glm['GBM_mercado'] = model_gbm.predict(df_cat_glm, predict_disable_shape_check=True)

In [198]:
display(df_cat_glm['GBM_mercado'].describe())

count    310913.000000
mean       4064.208631
std        1021.222322
min        2101.080266
25%        3315.287523
50%        3877.900563
75%        4618.329505
max       10571.766738
Name: GBM_mercado, dtype: float64

In [199]:
df_cat_glm.shape

(310913, 608)